    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TASK HUB</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="/favicon_task.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Noto+Sans:wght@100..900&family=PT+Mono&family=Roboto+Slab:wght@100..900&family=Inconsolata:wght@200..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    </head>

    <body>
    <div class="container">
        <nav class="sidebar">
            <div class="category">
                <button id="prev-week">&#9664;</button>
                <span id="week-display"></span>
                <button id="next-week">&#9654;</button>
            </div>
            <ul id="side-list">
                <li class="side-item active" data-side="week">
                    WEEK
                    <button id="today-button">TODAY</button>
                </li>
                <li class="side-item" data-side="work">WORK</li>
                <li class="side-item" data-side="onhold">ON HOLD</li>
                <li class="side-item" data-side="delegation">DELEGATION</li>
                <li class="side-item" data-side="plan">PLAN</li>
                <li class="side-item" data-side="completed">COMPLETED</li>
                <li class="side-item" data-side="completedW">COMPLETED(work)</li>
                <li class="side-item" data-side="routine">ROUTINE</li>
            </ul>

            <!-- User name section -->
            <div class="user-info">
                <span>User:</span>
                <p id="user-info" th:text="${session.sessionUserName}"></p>&nbsp;
                <form action="/user/logout" style="display: inline;" id="logoutButton">
                    <button type="submit" class="logout-button">[logout]</button>
                </form>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                function search() {
                    const sessionUserName = /*[[${session.sessionUserName}]]*/;
                    sessionStorage.setItem("sessionUserName", sessionUserName);
                }
                /*]]>*/
            </script>

        </nav>
        <div class="main-content">
            <div id="navigation-bar"></div>
            <div id="list-detail">
                <div class="left-panel">
                    <form id="taskForm">
                        <div class="task-input">
                            <input type="text" id="taskInput" placeholder="Enter a task" name="task_content">
                            <input type="submit" id="addTaskButton" value="TASK" name="action">
                        </div>
                        <div class="work-input">
                            <input type="text" id="workInput" placeholder="Enter a work" name="work_name">
                            <input type="submit" id="addWorkButton" value="WORK" name="action">
                        </div>
                        <div class="group-input">
                            <input type="text" id="groupInput" placeholder="Enter a group of routines" name="group_content">
                            <input type="submit" id="addGroupButton" value="GROUP" name="action">
                        </div>
                        <div class="routine-input">
                            <input type="text" id="routineInput" placeholder="Enter a routine" name="routine_content">
                            <input type="submit" id="addRoutineButton" value="ROUTINE" name="action">
                        </div>
                    </form>

                    <script>
                        document.getElementById('taskForm').addEventListener('keydown', function(event) {
                            if (event.key === 'Enter') {
                                event.preventDefault(); // 기본 엔터키 동작 방지
                                const activeElement = document.activeElement; // 현재 포커스가 있는 요소

                                // 포커스가 있는 input에 따라 해당 submit 버튼 클릭
                                if (activeElement === document.getElementById('taskInput')) {
                                    document.getElementById('addTaskButton').click();
                                } else if (activeElement === document.getElementById('workInput')) {
                                    document.getElementById('addWorkButton').click();
                                } else if (activeElement === document.getElementById('groupInput')) {
                                    document.getElementById('addGroupButton').click();
                                } else if (activeElement === document.getElementById('routineInput')) {
                                    document.getElementById('addRoutineButton').click();
                                }
                            }
                        });
                    </script>
                    <ul id="assignedToMeList">
                    </ul>
                    <div class="hide-completed-tasks">
                        <input type="checkbox" id="hideCompletedTasks">
                        <label for="hideCompletedTasks" class="hideCompletedLabel">Hide completed/canceled tasks</label>
                    </div>
                    <ul id="taskList">
    <!--                    <li th:each="taskhub : ${taskhubList}" class="task-item" th:data-task-id="${taskhub.task_id}">-->
    <!--                        <input type="checkbox">-->
    <!--                        <a class="task_content_set">-->
    <!--                            <span class="task_content" th:text="${taskhub.task_content}"></span>-->
    <!--                            <span class="work_name" th:text="${taskhub.work_name}"></span>-->
    <!--                            <span class="due_date" th:text="${taskhub.due_date}"></span>-->
    <!--                        </a>-->
    <!--                    </li>-->
                    </ul>
                    <div class="days-list" id="daysList">
                    </div>
                </div>
                <div class="right-panel">
                    <div class="task-detail" id="taskDetail">
                        <h3>[ Task Detail ]</h3>
                        <div class="task-detail-content" id="taskDetailContent" tabindex="0">
                            <div class="input-group">
                                <label for="taskName">Task:</label>
                                <input type="text" id="taskName" placeholder="Select a task to view its detail.">
                            </div>
                            <div class="input-group hidden">
                                <label for="workName">Work:</label>
                                <input type="text" id="workNameInput">
                            </div>
                            <div class="input-group hidden">
                                <label for="routineContent">Routine:</label>
                                <input type="text" id="routineContent">
                            </div>
                            <div class="input-group hidden">
                                <label for="groupContent">Group:</label>
                                <select id="groupContent">
                                </select>
                            </div>
                            <div class="input-group">
                                <label for="categoryName">Category:</label>
                                <select id="categoryName">
                                </select>
                            </div>
                            <div class="input-group">
                                <label for="workName" id="workNameLabel">Work:</label>
                                <select id="workName">
                                </select>
                            </div>

                            <div class="input-group">
                                <label for="dueDate">Due Date:</label>
                                <input type="date" id="dueDate">
                            </div>
                            <div class="input-group do-dates-group">
                                <label for="doDates">Do Dates: <button type="button" id="addDateButton">+</button></label>
                                <div id="doDatesContainer">
                                    <input type="date" id="doDates" style="display: none;">
                                </div>
                            </div>
                            <div class="input-group">
                                <label for="taskStatus">Status:</label>
                                <select id="taskStatus" name="status">
                                    <option value="" disabled selected class="select-placeholder">Select a status</option>
                                    <!--<option value="0">Not Started</option>-->
                                    <option value="1">Default</option>
                                    <option value="2">Completed</option>
                                    <option value="3">Canceled</option>
                                    <option value="4">On Hold</option>
                                    <option value="5">Delegation</option>
                                    <option value="6">Plan</option>
                                </select>
                            </div>
                            <div class="input-group hidden">
                                <label for="workStatus">Status:</label>
                                <select id="workStatus" name="status">
                                    <option value="" disabled selected class="select-placeholder">Select a status</option>
                                    <!--<option value="0">Not Started</option>-->
                                    <option value="1">Default</option>
                                    <option value="2">Completed</option>
                                </select>
                            </div>
                            <div class="input-group hidden">
                                <label for="routineCycle">Repeat every:</label>
                                <select id="routineCycle" name="cycle">
                                    <option value="" disabled selected class="select-placeholder">Select a cycle to repeat</option>
                                    <option value="day">day</option>
                                    <option value="week">week</option>
                                    <option value="month">month</option>
                                    <option value="year">year</option>
                                </select>
                            </div>
                            <div class="input-group hidden" id="routineDayGroup">
                                <label for="routineDay">Repeat on:</label>
                                <div id="routineDateSelects">
                                    <select id="routineMonth" name="month" style="display:none;">
                                        <option value="" disabled selected class="select-placeholder">Select a month</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select id="routineDay" name="day">
                                        <option value="" disabled selected class="select-placeholder">Select a day of the week</option>
                                        <option value="monday">Monday</option>
                                        <option value="tuesday">Tuesday</option>
                                        <option value="wednesday">Wednesday</option>
                                        <option value="thursday">Thursday</option>
                                        <option value="friday">Friday</option>
                                        <option value="saturday">Saturday</option>
                                        <option value="sunday">Sunday</option>
                                    </select>
                                    <select id="routineDate" name="date">
                                        <option value="" disabled selected class="select-placeholder">Select a date</option>
                                        <option value="01">1</option>
                                        <option value="02">2</option>
                                        <option value="03">3</option>
                                        <option value="04">4</option>
                                        <option value="05">5</option>
                                        <option value="06">6</option>
                                        <option value="07">7</option>
                                        <option value="08">8</option>
                                        <option value="09">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>
                            </div>

                            <div class="input-group delegation hidden">
                                <label for="userDelegated">Delegated to:</label>
                                <select id="userDelegated">
                                </select>
                            </div>
                            <div class="input-group done-group">
                                <label for="taskDone">Done<span id="doDate"></span>:</label>
                                <select id="taskDone" name="done">
                                    <option value="" disabled selected class="select-placeholder">Check if it's done</option>
                                    <option value="1">Default</option>
                                    <option value="2">Done</option>
                                    <option value="3">Waiting(default??)</option>
                                </select>
                            </div>
                            <div class="input-group sub-tasks-group" >
                                <label for="subTasks">Sub Tasks: <button type="button" id="addSubTaskButton">+</button></label>
                                <div id="subTasksContainer">
                                    <input type="text" id="subTasks" style="display: none;">
                                </div>
                            </div>
                            <div class="input-group main-task hidden" >
                                <label for="mainTask">Main task: </label>
                                <span type="text" id="mainTask"></span>
                                <span type="button" id="clearParent">✖</span>
                            </div>
                            <script>
                                document.getElementById('clearParent').addEventListener('click', function() {
                                    document.getElementById('clearParentTaskModal').style.display = 'block';
                                });
                            </script>

                            <div class="input-group">
                                <label for="taskMemo">Memo:</label>
                                <input type="text" id="taskMemoInput" style="display: none;">
                            </div>
                            <div class="input-group">
                                <textarea id="taskMemo" rows="4" cols="50" placeholder="Enter a memo"></textarea>
                            </div>
                            <div class="button-container">
                                <button id="saveChangesButton">Save</button>
                                <button id="deleteConfirmationButton">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="notificationContainer"></div>
    <!-- Modal Structure for Delete Confirmation -->
    <div id="deleteConfirmationModal" class="modal">
        <div class="modal-content">
            <h2>Deletion</h2>
            <p>Delete this task?</p>
            <button id="confirmDeleteButton" class="confirmDel">Delete</button>
            <button id="cancelDeleteButton" class="cancelDel">Cancel</button>
        </div>
    </div>
    <div id="deleteConfirmationModalWork" class="modal">
        <div class="modal-content">
            <h2>Deletion</h2>
            <p id="deleteMessage">Delete this work?<br>Tasks will be set to null.</p>
            <button id="confirmDeleteButtonWork" class="confirmDel" data-work-id="">Delete</button>
            <button id="cancelDeleteButtonWork" class="cancelDel">Cancel</button>
        </div>
    </div>
    <div id="deleteConfirmationModalR" class="modal">
        <div class="modal-content">
            <h2>Deletion</h2>
            <p>Delete this routine?</p>
            <button id="confirmDeleteButtonR" class="confirmDel" data-routine-id="">Delete</button>
            <button id="cancelDeleteButtonR" class="cancelDel">Cancel</button>
        </div>
    </div>
    <div id="deleteConfirmationModalG" class="modal">
        <div class="modal-content">
            <h2>Deletion</h2>
            <p>Delete this group?</p>
            <button id="confirmDeleteButtonG" class="confirmDel" data-group-id="">Delete</button>
            <button id="cancelDeleteButtonG" class="cancelDel">Cancel</button>
        </div>
    </div>
    <div id="clearParentTaskModal" class="modal">
        <div class="modal-content">
            <h2>Sub to Main</h2>
            <p>Clear its main task<br>and make this the main one?</p>
            <button id="confirmClearParent" class="confirmDel" data-main-id="">Clear</button>
            <button id="cancelClearParent" class="cancelDel">Cancel</button>
        </div>
    </div>

    <div id="loginModal" class="modal">
        <div class="modal-content">
            <h2>Login</h2>
            <form id="loginForm" action="/user/login" method="post">
                <div class="login-form-group">
                    <label for="username" class="loginLabel">Username:</label>
                    <input type="text" id="username" name="userName" autocomplete="userName" required>
                </div>
                <div class="login-form-group">
                    <label for="password" class="loginLabel">Password:</label>
                    <input type="password" id="password" name="password" autocomplete="current-password" required>
                </div>
                <div class="login-form-remember">
                    <input type="checkbox" id="rememberMe" name="rememberMe">
                    <label for="rememberMe">Remember me</label>
                </div>
                <div class="login-button-group">
                    <button type="submit" id="loginSubmit">Login</button>
                </div>
                <div class="login-button-group-inline">
                    <button type="button" id="addUser">Add a User</button>
                    <button type="submit" id="developerAccount">Use Developer Account</button>
                </div>
                <script>
                    document.getElementById('developerAccount').addEventListener('click', function() {
                        // Set predefined values for username and password
                        document.getElementById('username').value = 'admin';
                        document.getElementById('password').value = 'admin';

                        // Submit the form
                        document.getElementById('loginForm').submit();
                    });
                </script>
            </form>
        </div>
    </div>

    <div id="addUserModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add a user</h2>
            <form id="addUserForm" action="/user/save" method="post">
                <div class="login-form-group">
                    <label for="username" class="addUserLabel">Username:</label>
                    <input type="text" id="newusername" name="userName" required>
                </div>
                <div class="login-form-group">
                    <label for="password" class="addUserLabel">Password:</label>
                    <input type="password" id="newpassword" name="password" required>
                </div>
                <div class="login-form-group">
                    <label for="confirmpassword" class="addUserLabel">Confirm password:</label>
                    <input type="password" id="confirmpassword" required>
                </div>
                <div class="login-form-group">
                    <label for="adminpassword" class="addUserLabel">Admin approval password:</label>
                    <input type="text" id="adminpassword" required placeholder="t _ _ _ _">
                </div>
                <div class="login-button-group">
                    <button type="submit" id="addUserSubmit">Add this user</button>
                </div>
                <div id="errorMessage" style="color: red; display: none; margin-top: 10px;"></div>
            </form>
        </div>
    </div>


    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

    </body>
    </html>
